@keyframes mymove {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  } 
@keyframes anim-fill {
  from {
    color: transparent;
  }
  25% {
    color: #ff00002e;
  }
  50% {
    color: #ff000066;
  }
  75% {
    color: #ff000080;
  }
  to {
    color: #ff0000;
  }
}
@keyframes anim-fill-red {
  from {
    fill: transparent;
  } 
  to {
      fill: #F90E0E;
  }
}
@keyframes anim-fill-dred {
  from {
    fill: transparent;
  } to {
    fill: #9E0000;
  }
}
@keyframes anim-fill-darkred {
  from {
    fill: transparent;
  } to {
    fill: #7B0505;
  }
}