.sidebar__logo {
    position: absolute;
    display: block;
    padding: 4px 10px;
    border-bottom: 1px solid #2b2b2b;
    z-index: 53;
}
.sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    min-height: 500px;
    width: 60px;
    border-right: 1px solid #2b2b2b;
    background: inherit;
    z-index: 3;
}
.sidebar:before {
    content: '';
    height: 100%;
    width: 60px;
    background: inherit; 
    position: absolute;
    left: 0; 
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    filter: blur(10px);
}
.sidebar:after {
    content: '';
    height: 100%;
    width: 60px;
    background: inherit; 
    position: absolute;
    left: 0; 
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    filter: blur(10px);
}
.sidebar ul {
    position: absolute;
    margin-top: 180px;
    z-index: 64;
}
.sidebar__link {
    display: block;
    padding: 28px 4.5px;
    color:whitesmoke;
    z-index: 1;
    text-align: center; 
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
    font-size: .69rem;
}

.sidebar__link:hover, 
.sidebar__link.active {
    color: #c10202 ;
}