@import "global";
@import "sidebar";
@import "animation";
@import "reponsive";

.homepage {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: relative;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.home-page.textzone {
    position: absolute;
    left: 10%;
    top: 80%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
}
.about-page.textzone {
    position: absolute;
    left: 10%;
    top: 65%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
}
.about-page.textzone p {
    margin-top: 40px;
    margin-left: 10px;
    font-size: 15px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
}
.about-page.textzone h1 {
    color: #FF0002;
    font-size: 77px;
    line-height: 70px;
}
.textzone h1{
    font-family: 'Archivo Narrow',sans-serif;
    font-size: 65px;
    line-height: 65px;
    letter-spacing: .15px;
    margin: 0;
    color: #f5f5f5;
    font-weight: bold;
}
.fp1 {
    color: #c10202;
    font-size: 62px;
    letter-spacing: -39.2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.fdp1 {
    color: #650000;
    font-size: 62px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.r:hover {
    display: inline-block;
    color: #c10202;
    animation: mymove 1000ms infinite;
    -webkit-animation: mymove 1000ms infinite;
}
span.fp {
    color: #c10202;
    font-size: 69px;
    letter-spacing: -39.5px;
}

span.fdp {
    color: #650000;
    font-size: 69px;
}
.textzone h2{
    color: #929292;
    margin-top: 15px;
    font-weight: normal;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
}

.btn {
    margin-top: 40px;
    color: #FF0000;
    border: 2px solid #FF0000;
    font-size: 13px;
    padding: 15px 18px;
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
    float: left;
}
.btn:hover {
    color: aliceblue;
    background-color: #FF0000;
}
.logo22 {
    float: right;
    font-family: 'Open Sans', sans-serif;
    margin-right: 200px;
    margin-top: 120px;
}
.test-1 {
    animation: anim-fill-red 0.2s ease forwards 0.4s;
}

.test-2 {
    animation: anim-fill-dred 0.5s ease forwards 0.8s;
}

.test-3 {
    animation: anim-fill-darkred 0.9s ease forwards 1.2s;
}

.skillss {
    left: 60%;
    position: absolute;
    top: 33%;
    margin: auto;
    display: block;
    bottom: 0;
    right: auto;

    & h1 {
        font-size: 40px;
        color: #FF0047;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
    }
}
.proccess {
    & p {
        color: rgb(238, 238, 238);
        margin-bottom: 8px;
        margin-left:6px;
    }
    &__line {
        width: 200px;
        margin-top:4px;
        margin-bottom: 4px;
        margin-left:6px;
        background-color:  grey;
        height: 10px;
        -webkit-border-radius: 1235px;
        -moz-border-radius: 1235px;
        border-radius: 1235px;

        &_many {
            width: 20px;
            height: 10px;
            background-color: #FF0002;
            -webkit-border-radius: 1235px;
            -moz-border-radius: 1235px;
            border-radius: 1235px;
        }
    }
}
.contact-page.textzone {
    position: absolute;
    left: 10%;
    top: 48%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;

    & h1 {
        color: #FF0027;
    }

    & p {
        color: whitesmoke;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size:15px;
    }
}
.contact-form {
    
    margin-top: 10%;
    & ul li.half {
        width: 48%;
        margin-left: 2%;
        float: left;
        clear: none;
    }
    & ul li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-left: 2%;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
    }
    & input[type=text], & input[type=email] {
        width: 100%;
        border: 0;
        background: #2b2b2b;
        height: 50px;
        font-size: 16px;
        color: #8d8d8d;
        padding: 0 20px;
        box-sizing: border-box;
        &:focus {
            border-bottom:2px solid #FF0027;
        }
    }
    & textarea {
        width: 100%;
        border: 0;
        background: #2b2b2b;
        height: 50px;
        font-size: 16px;
        color: #8d8d8d;
        padding: 20px;
        box-sizing: border-box;
        min-height: 150px;
    }
    & .btn {
        margin-top: 0px !important;
        background-color: transparent !important;
        float: right !important;

        &:hover {
            background-color: #FF0000 !important;
        }
    }
}


