/*
    Author : Aleksandar (AcoX) Jeremic
    Name : AA | Front-Back End Developer
    Tags :  sidebarrl, sidebar__logo sidebar, sidebar__link, sidebar_connect, sidebar_connect_link, homepage, home-page, container, textzone
    Version : v0.1
*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'reponsive.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
a, li , ul {
    text-decoration: none;
    list-style-type: none;
    color: #333;
}
html {
    color: #333;
    font-size: 1em;
}
body {
    background: #1b1c1e;
    display: block;
}
/*
SideBar
*/
.sidebarrl {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #1b1c1e;
    border-right: 1px solid #2b2b2b;
    height: 100%;
    width: 60px;
    min-height: 500px;
    z-index: 3;
}
.sidebar__logo {
    display: block;
    padding: 8px 0;
}
.sidebar {
    display: block;
    text-align: center;
}
.sidebar__link {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    height: 51px;
    margin-bottom: 15px;
    line-height: 51px;
    display: block;
    font-size: .69rem;
    text-transform: uppercase;
    color: whitesmoke;
}
.sidebar__link:hover, 
.sidebar_connect_link:hover,
.sidebar__link .active {
    color: #c700e2 ;
}
.sidebar_connect {
    display: block;
    text-align: center;
    padding-bottom: 20px;
}
.sidebar_connect_link {
    display: block;
    padding: 7px 0;
    font-size: 1rem;
    color: whitesmoke;
}
/*
SideBar end
*/

.homepage {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.home-page.textzone {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
}
.textzone h1{
    font-family: 'Archivo Narrow',sans-serif;
    font-size: 56px;
    line-height: 56px;
    margin: 0;
    color: #f5f5f5;
    font-weight: bold;
}
.r:hover {
    color: #ab02c1;
    animation-duration: 1s;
    animation-name: mymove;
}
@keyframes mymove {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  } 
span.fp {
    color: #ab02c1;
    font-size: 69px;
    letter-spacing: -39.5px;
}

span.fdp {
    color: #500079;
    font-size: 69px;
}
.textzone h2{
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: normal;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
}